[Desktop Entry]
Name=Clipboard Viewer
Comment=Gtk Clipboard Viewer
Terminal=false
Type=Application
Categories=Utility;
Icon=ClipboardViewer.png
Exec=clipboardviewer
