[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=View Clipboard
Exec=clipviewer
Icon=/media/LinuxData/Development64/Projects/ClipboardViewer/clipviewer.png
NoDisplay=false
Terminal=false
Type=Application
GenericName[en_GB]=
